<h1> Flexible Payment </h1>

A <%= @years.to_i %> year loan of $<%= number_with_precision(@principal, :precision => 0, :delimiter => ',') %> with an annual interest rate of <%= number_with_precision(@interest , :precision => 2) %>%, requires a monthly payment of $<%= number_with_precision(@payments, :precision => 2, :delimiter => ',') %>.
