<h1> Payment Calculation</h1>
<form action="/payment/results">
  <div>
    <label for = "APR"> APR </label>
    <input id = "APR" type = "text" name="interest_rate">
  </div>
  <div>
    <label for = "numberofyears"> Number of years </label>
    <input id = "numberofyears" type = "text" name="years">
  </div>
  <div>
    <label for = "principalinput"> Principal </label>
    <input id = "principalinput" type = "text" name="principal">
  </div>
  <button> Calculate monthly payment </button>
</form>
