<h1> Payment Results </h1>

<div> <b>APR</b> </div>
<div> <%= @interest %>% </div>
<div> <b> Number of years </b> </div>
<div> <%= @years %> </div>
<div> <b> Principal </b> </div>
<div> $<%= number_with_precision(@principal, :precision => 0, :delimiter => ',') %> </div>
<div> <b> Monthly Payment </b> </div>
<div> $<%= number_with_precision(@payments, :precision => 2, :delimiter => ',') %> </div>
