<h1> Random Results </h1>
<div> <b> Minimum </b> </div>
<div> <%= @min %> </div>
<div> <b> Maximum </b> </div>
<div> <%= @max %> </div>
<div> <b> Random Number </b> </div>
<div> <%= number_with_precision(@random, :precision => 2, :delimiter => ',') %> </div>
