<h1> Random Calculation </h1>
<form action="/random/results">
  <div>
    <label for = "mininput"> Minimum </label>
    <input id = "mininput"  type = "text" name="min">
  </div>
  <div>
    <label for = "maxinput"> Maximum </label>
    <input id = "maxinput" type = "text" name="max">
  </div>
  <button type = "submit"> Pick random number </button>
</form>
